<div class="container">

  <div class="row">
    <center><h1 class=highlight>Booking Sent</h1></center>

    <center><h3>Your booking at <%= link_to @trip.bunker.name, bunker_path(@trip.bunker) %> has been sent to host for approval</h3></center>
    <br>
  </div>

  <div class="wrapper" id="itinerary">

    <div class="col-md-4">
        <div class="centered-item">
          <h3>Booking Details</h3>
          <strong><h5>Booking Date:</strong>  <%= @trip.booking_date %></h4>
          <strong><h5>Start Date:</strong> <%= @trip.start_date %></h4>
          <strong><h5>Expiration Date:</strong>  <%= @trip.end_date %></h4>
          <strong><h5>Length of Stay:</strong> <%= (@trip.end_date - @trip.start_date).to_i %> nights</h4>
          <strong><h5>Nightly Price: </strong><%=@trip.bunker.price %></h4>
          <strong><h5>Booking Total:</strong> $<%= @trip.bunker.price  *  (@trip.end_date - @trip.start_date).to_i %></h4>
        </div>
    </div>

    <div class="col-md-8">
      <%= cl_image_tag @trip.bunker.photos.first.path %>
    </div>

  </div>
<br>
  <div class="row">
    <center><h4>Thanks <%= @trip.user.first_name %> for choosing Thrivalist! We have sent a confirmation to <%= @trip.user.email %>.</h4></center>
    <br>
  </div>

</div>
