<div class="container">

  <div class="row">
    <h2>Your booking at <%= link_to @trip.bunker.name, bunker_path(@trip.bunker) %> has been sent to host for approval</h2>
  </div>

  <div class="wrapper" id="itinerary">

    <div class="col-md-6">
        <div class="centered-item">
          <h4>Booking date:  <%= @trip.booking_date %></h4>
          <h4>Check in date: <%= @trip.start_date %></h4>
          <h4>Check out date:  <%= @trip.end_date %></h4>
          <h4>Length of Stay: <%= (@trip.end_date - @trip.start_date).to_i %> nights</h4>
          <h4>Nightly Price: <%=@trip.bunker.price %></h4>
          <h4>Booking Total: <%= @trip.bunker.price  *  (@trip.end_date - @trip.start_date).to_i %></h4>
        </div>
    </div>

    <div class="col-md-6">
      <%= cl_image_tag @trip.bunker.photos.first.path %>
    </div>

  </div>

  <div class="row">
    <h3>Thanks <%= @trip.user.first_name %> for choosing Thrivalist! We have sent a confirmation to <%= @trip.user.email %>.</h3>
  </div>

</div>
