<div class="container">
    <p id="notice"><%= "Confirmed!!" %></p>
  <p>
    <%= @trip.user_id %>
    <%= @trip.bunker_id %>
    <%= @trip.booking_date %>
    <%= @trip.start_date %>
    <%= @trip.end_date %>
  </p>
</div>
