
<div class="container">
  <center><h1 class=highlight>Book Bunker Now</h1></center>
  <center><h3> <%= link_to @bunker.name, bunker_path(@bunker) %> </h3></center>

  <div class="row">
    <%= simple_form_for [@bunker, @trip] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :first_name, input_html: { value: current_user&.first_name } %>
      <%= f.input :last_name, input_html: { value: current_user&.last_name } %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <div class="form-actions text-center">
        <%= f.button :submit, 'Book Your Bunker' %>
      </div>
    </div>
    <% end %>
  </div>
  <br>
  <center><%= link_to "Back to Bunker", bunker_path(@bunker) %></center>
  <br>
  <br>
</div>
