<div class="container">
  <h1>Reservation Details</h1>
      <div class="row">
          <div class="card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
            url('<%= cl_image_path @trip.bunker.photos[0].path %>')">
            <div class="card-category"><%= @trip.bunker.location.country %></div>
            <div class="card-description">
              <h2><%= @trip.start_date %></h2>
              <p></p>
            </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div>
        <p>Booking date:   <%= @trip.booking_date %></p>
        <p>Start date:     <%= @trip.start_date %></p>
        </p>End date:      <%= @trip.end_date %></p>
      </div>

      <div>
        <p>Bunker size: <%= @trip.bunker.size %></p>
        <p>Price:       <%= @trip.bunker.price %>
      </div>
      <div>
        <p>Location details(To be replaced with map)</p>
        <p>Country: <%= @trip.bunker.location.country %></p>
        <p>City: <%= @trip.bunker.location.city %></p>
        <p>Numbver: <%= @trip.bunker.location.number %></p>
        <p>Street: <%= @trip.bunker.location.street_name %></p>
        <p>Zip: <%= @trip.bunker.location.zip %></p>
      </div>
      <%= link_to 'Back', trips_path %>
</div>


