<br>
<div class="container">
  <div class="row">
    <%= simple_form_for(@bunker) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :detailed_description %>
        <%= f.input :price %>
        <%= f.input :size %>
        <%#= f.collection_check_boxes :options, [[true, 'Yes'] ,[false, 'No']], :first, :last %>
        <%= f.input :address %>
        <%= f.input :zip_code, as: :string %>
        <%= f.input :city %>
        <%= f.input :country, priority: [ 'US' ] %>
        <%#= f.simple_fields_for :location do |l| %>
          <%#= l.country_select :country, { priority_countries: ["GB", "FR", "US", "BR"] }, {class: "form-control"} %>
        <%# end %>
      </div>
        <%= f.input :photos, as: :attachinary %>

        <div class="form-actions text-center">
          <%= f.button :submit %>
        </div>
    <% end %>
  </div>
</div>
