
<br>
<br>
<p id="notice"><%= notice %></p>

<div class="container-fluid">
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-9 col-xs-6">
       <center> <h1>Bunkers</h1></center>

      <div class="row">
        <% @bunkers.each do |bunker| %>
        <div class="col-l-4 col-xs-4 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bunker.photos[0].path %>');">
                <div class="card-category"><%= bunker.location.country %> Location</div>
              <div class="card-description">
              <h2><%= bunker.name %></h2>
              <p style="align">$<%= bunker.price %>/DAY</p>
            </div>
            <%= link_to '', bunker_path(bunker), class: 'card-link' %>
          </div>
          <br>
        </div>
        <%end %>

      </div>
      <center><%= link_to "List Your Bunker", new_bunker_path, :class => "button" %></center>
<br>
      </div>
      <div class="col-lg-3 col-xs-6">
        <br>
        <br>
        <br>
        <br>
      <img src="http://www.siroccowebdesign.com.au/images/google-maps-lg.jpg">
      </div>
  </div>
</div>
</div>
<!--
<h1>Bunkers</h1>

<table>
  <thead>
    <tr>
      <th>Preview</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Location</th>
      <th>Review</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @bunkers.each do |bunker| %>
      <tr>
        <td><%= cl_image_tag bunker.photos[0].path, width: 100, height: 100, crop: :fill %></td>
        <td><%= bunker.name %></td>
        <td><%= bunker.description %></td>
        <td><%= bunker.price %></td>
        <td><%= bunker.location.country %></td>
        <td><%= link_to 'Show', bunker %></td>
        <!-- <td><%#= link_to 'Edit', edit_bunker_path(bunker) %></td> -->
        <!-- <td><%#= link_to 'Send message', new_bunker_message_path(bunker.id) %></td> -->
        <!-- <td><%#= link_to 'Destroy', bunker, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 -->
<%= link_to 'Prepare the world become a bunker host', new_bunker_path %>
