<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-xs-6">
      <center><h1 class=highlight>All Bunkers</h1></center>
        <div class="row">
          <% @bunkers.each do |bunker| %>
          <div class="col-l-4 col-xs-4 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bunker.photos[0].path %>');">
              <div class="card-category"><%= bunker.latitude %></div>
              <div class="card-description">
                <h2><%= bunker.name %></h2>
                <p style="align">$<%= bunker.price %>/DAY</p>
              </div>
              <%= link_to '', bunker_path(bunker), class: 'card-link' %>
            </div>
            <br>
          </div>
          <%end %>

        </div>
        <center><%= link_to "List Your Bunker", new_bunker_path, :class => "button" %></center>
        <br>
      </div>
      <div class="col-lg-4 col-xs-6">
        <div id="map" style="width: 100%; height: 600px;"></div>

        <% content_for(:after_js) do %>
        <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
  });
  <% end %>
  <% end %>
</div>
</div>
</div>
</div>
<!--
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS9JD0vndn2mIVlsNo4r_CQbo1W024W60&callback=initMap"
  type="text/javascript"></script>  -->
