
<!-- Heading -->

<div class="page-header">
  <h1>Bunker One<small>The World's Best Bunker in Minesota</small></h1>
  <h3>
    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Farm</font></font></span>
    <span class="divider"></span>
    <a href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bali, </font></font></a>
    <a href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Indonesia</font></font></a>
  </h3>
</div>

<!-- Picture Carousel -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

    <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://kitt.lewagon.com/placeholder/cities/berlin" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="https://kitt.lewagon.com/placeholder/cities/berlin" alt="Chicago">
    </div>
  </div>

    <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Sticky Header Menu -->


<div id="sticker-sticky-wrapper" class="sticky-wrapper hey">
<div class="sticky-header">
<div id="dynamic-menu-bar">
  <div id="dynamic-menu-section">
    <span data-radium="true" style="opacity: 1; cursor: pointer;">
    <a href="#DescriptionFor"><div id="dynamic-menu-item" data-radium="true">
        <span id="dynamic-menu-span" data-radium="true">Description</span>
      </div></a>
  </span>
</div>
<div id="dynamic-menu-section">
    <span data-radium="true" style="opacity: 1; cursor: pointer;">
      <a href="#LocationFor"><div id="dynamic-menu-item">
        <span data-radium="true" id="dynamic-menu-span">Location</span>
      </div></a>
  </span>
</div>
<div id="dynamic-menu-section">
    <span data-radium="true" style="opacity: 1; cursor: pointer;"><a>
      <div id="dynamic-menu-item">
        <span data-radium="true" id="dynamic-menu-span">Features</span>
      </div>
    </a>
  </span>
</div>
<div id="dynamic-menu-section">
    <span data-radium="true" style="opacity: 1; cursor: pointer;"><a>
      <div id="dynamic-menu-item">
        <span data-radium="true" id="dynamic-menu-span">Bunker Specs</span>
      </div>
    </a>
  </span>
</div>
<div id="dynamic-menu-section">
  <span data-radium="true" style="opacity: 1; cursor: pointer;>
    <a class="btn btn-primary btn-lg"><div id="dynamic-menu-item">
        <span data-radium="true" id="dynamic-menu-span">Book Now</span>
      </div>
    </a>
    </span>
    </div>
  </div>
</div>
</div>

<br>
<br>
<br>



<div class="container">
  <div class="container">

<!-- Description of Bunker -->

   <p id="DescriptionFor">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<br>
<br>
<br>

<!-- Features of Bunker -->

  <div class="row">
    <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">What you get</font></font></h2>
      <div class="row text_center clear">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
          <div class="listing_item">
            <i class="fa fa-bed icon" aria-hidden="true"></i>
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Private Room</font></font></h5>
            <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Have a private room to chill and relax just by yourself.</font></font></p>
          </div>
        </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
        <div class="listing_item">
            <i class="fa fa-bed icon" aria-hidden="true"></i>
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shared Dorm</font></font></h5>
            <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Be ready to meet people while staying in a shared dorm.</font></font></p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
          <div class="listing_item">
            <i class="fa fa-bed icon" aria-hidden="true"></i>
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Private Room</font></font></h5>
            <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Have a private room to chill and relax just by yourself.</font></font></p>
          </div>
        </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
        <div class="listing_item">
            <i class="fa fa-bed icon" aria-hidden="true"></i>
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shared Dorm</font></font></h5>
            <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Be ready to meet people while staying in a shared dorm.</font></font></p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
          <div class="listing_item">
            <i class="fa fa-bed icon" aria-hidden="true"></i>
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Private Room</font></font></h5>
            <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Have a private room to chill and relax just by yourself.</font></font></p>
          </div>
        </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
        <div class="listing_item">
            <i class="fa fa-bed icon" aria-hidden="true"></i>
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shared Dorm</font></font></h5>
            <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Be ready to meet people while staying in a shared dorm.</font></font></p>
        </div>
      </div>


<!-- Specs of Bunker -->

<br>
<br>
<br>

    <div class="container-mock">
      <h2>Bunker Specs</h2>
      <span class="divider"></span>
        <p>
          <strong>Price:</strong>
          <%= @bunker.price %>
        </p>

        <p>
          <strong>Size:</strong>
          <%= @bunker.size %>
        </p>
<br>
<br>
<br>
        <h2>Where is it</h2>
        <p id="LocationFor">
          <strong>Location:</strong>
          <%= @bunker.location %>
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Links and Footer -->

<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_bunker_path(@bunker) %>
<%= link_to 'Back', bunkers_path %>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $("#sticker-sticky-wrapper").sticky({topSpacing:0, className: "is-sticky hey"});
    });
  </script>
<% end %>
