<!-- Carousel -->

<%= render 'picture_carousel' %>

<!-- Sticky Header Menu -->

<%= render 'sticky_menu' %>

<!-- Description of Bunker -->

<!-- just for testing purposes - please delete and add to sticky menu -->
<%= link_to "Book Now", booking_path, { :class => "btn-default text-center" } %>

<div class="container">
  <div class="page-header">
    <h1><%= @bunker.name %><small><%= @bunker.description %></small></h1>
    <h3>
      <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Farm</font></font></span>
      <span class="divider"></span>
      <a href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bali</font></font></a>
      <a href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Indonesia</font></font></a>
    </h3>
  </div>
</div>


<div class="container">
  <div class="row">
   <p id="DescriptionFor"><%= @bunker.description %></p>
 </div>


 <!-- Features of Bunker -->

 <div class="row">
  <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">What you get</font></font></h2>
  <div class="row text_center clear">

    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
      <div class="listing_item">
        <i class="fa fa-bed icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Private Room</font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Have a private room to chill and relax just by yourself.</font></font></p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
      <div class="listing_item">
        <i class="fa fa-bed icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shared Dorm</font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Be ready to meet people while staying in a shared dorm.</font></font></p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
      <div class="listing_item">
        <i class="fa fa-bed icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Private Room</font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Have a private room to chill and relax just by yourself.</font></font></p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
      <div class="listing_item">
        <i class="fa fa-bed icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shared Dorm</font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Be ready to meet people while staying in a shared dorm.</font></font></p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
      <div class="listing_item">
        <i class="fa fa-bed icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Private Room</font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Have a private room to chill and relax just by yourself.</font></font></p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
      <div class="listing_item">
        <i class="fa fa-bed icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shared Dorm</font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Be ready to meet people while staying in a shared dorm.</font></font></p>
      </div>
    </div>

    <div class="row">
      <h2>Bunker Specs</h2>
      <p><strong>Price: </strong><%= @bunker.price %></p>
      <p><strong>Size: </strong><%= @bunker.size %></p>
    </div>

    <div class="row">
      <h2>Where is it</h2>
      <p id="LocationFor"><strong>Location: </strong><%= @bunker.location.longitude %>, <%= @bunker.location.latitude %>, <%= @bunker.location.country %></p>
    </div>

  </div>
</div>
</div>


<!-- Links and Footer -->

<%= link_to 'View More Bunkers', bunkers_path %>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    $("#sticker-sticky-wrapper").sticky({topSpacing:0, className: "is-sticky hey"});
  });
</script>
<% end %>
