<%= simple_form_for([ bunker, review ], remote: true) do |form| %>
<%= form.error_notification %>
<div class="form-inputs">
  <h4>Write a Review</h4>
  <br>
  <%= form.input :content, as: :text %>
  <%= form.input :rating, as: :integer %>
</div>
<div class="form-actions text-center">
  <%= form.button :submit %>
</div>
<% end %>



